In [1]:
import os
import pandas as pd

In [27]:
directory = '../data/Dados-Processo-tratados'
exception_files = ['.DS_Store']

for filename in os.listdir(directory):
    file_path = os.path.join(directory, filename)

    if os.path.isfile(file_path) and filename not in exception_files:
        df = pd.read_csv(file_path, delimiter=';', on_bad_lines='skip')
        display(df)
        # df.to_csv(file_path, sep=';', index=False) # overwrite csv file

,time,sensor_PT100_1,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.6,39.68,31.51,29.41,53.12,25.65,62.89,28.63,9.06
1,1200.6,40.24,31.91,29.92,52.55,25.80,67.16,28.84,11.91
2,1800.6,40.50,32.37,30.42,50.50,25.80,69.79,29.56,12.74
3,2400.6,40.67,33.11,31.22,50.34,25.85,70.51,29.56,12.33
4,3000.6,40.72,33.84,31.96,49.16,25.96,67.88,30.18,9.00
5,3600.6,40.83,34.75,32.76,48.39,26.01,65.00,30.74,10.61
6,4200.8,40.81,35.53,33.68,49.47,26.06,62.02,31.41,9.57
7,4800.5,40.91,36.32,34.62,48.18,26.06,59.29,32.08,7.61

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,605.0,34.69,-49.97,32.80,30.75,76.47,21.28,72.72,26.32,10.92
1,1200.0,34.56,-49.30,33.85,31.29,77.14,21.07,80.64,27.61,14.17
2,1800.0,34.61,-48.68,33.82,31.42,77.30,21.02,83.26,28.27,15.53
3,2400.0,34.51,-48.39,33.93,31.41,77.86,20.92,83.78,28.69,17.72
4,3000.0,34.60,-48.01,33.79,31.31,78.07,21.07,84.14,28.58,13.55
5,3420.0,34.60,-47.91,33.83,31.41,77.86,21.07,84.45,28.58,16.14

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.0,40.51,23.02,36.56,35.38,36.45,28.43,60.73,32.85,9.44
1,1200.0,40.76,23.22,38.00,37.00,34.29,28.94,61.56,33.83,12.39
2,1800.0,40.83,23.27,44.20,43.26,32.44,29.81,48.03,37.38,12.80
3,2400.0,40.94,23.36,50.87,49.16,30.74,30.74,31.62,43.60,10.06
4,3000.0,41.09,23.50,53.44,53.60,29.15,31.56,25.80,46.85,7.09
5,3600.0,40.99,23.38,54.40,55.13,28.74,32.33,21.38,49.01,6.34
6,4201.0,40.97,23.35,52.51,51.65,27.86,32.90,22.82,49.06,5.89
7,4800.0,41.10,23.47,53.14,52.31,26.78,33.41,20.71,50.34,4.70

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,616.0,37.20,17.67,31.72,31.70,60.89,26.42,69.32,30.38,9.31
1,1192.0,37.13,17.60,32.94,32.95,59.91,26.88,77.50,31.77,12.82
2,1789.0,37.32,17.78,32.86,32.96,58.68,27.40,79.66,32.13,14.92
3,2400.0,37.18,17.62,33.93,33.86,56.93,28.01,78.99,32.85,13.83
4,3000.0,37.03,17.50,34.74,34.72,55.49,28.48,77.40,33.06,12.18
5,3480.0,36.97,17.43,35.46,35.55,53.69,28.84,75.50,33.73,9.32

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.0,38.17,16.01,30.77,30.44,57.08,26.32,67.06,29.30,7.79
1,1200.0,37.97,15.93,30.13,30.05,56.62,26.57,72.41,29.35,10.61
2,1800.0,37.78,15.80,29.86,29.70,55.85,26.83,76.11,29.35,13.17
3,2400.0,37.58,15.56,29.87,29.77,55.69,27.34,78.17,29.35,13.04
4,3000.0,37.69,15.70,30.04,29.86,54.46,27.65,78.58,29.15,13.90
5,3600.0,37.71,15.68,30.05,29.67,53.17,28.12,79.15,29.15,13.02
6,4020.0,37.55,15.61,29.99,29.57,52.66,28.32,79.46,29.10,9.41

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,1200.0,42.70,20.34,33.73,33.48,53.53,24.62,69.22,29.15,10.64
1,1800.0,42.69,20.24,35.67,35.47,55.43,25.39,73.54,31.51,9.89
2,2377.6,42.87,20.47,37.66,37.46,51.42,26.16,72.31,33.42,7.65
3,3000.0,42.97,20.62,43.23,43.11,51.68,26.98,57.54,36.81,4.27
4,3608.6,42.79,20.42,47.32,48.02,48.70,27.86,43.91,40.72,6.26
5,4015.5,42.88,20.47,48.26,49.02,47.61,28.32,40.00,41.96,5.77

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.0,39.25,20.11,39.76,34.40,52.24,28.63,62.02,32.13,8.60
1,1200.0,39.14,20.01,40.55,34.96,51.58,28.89,64.64,32.70,8.06
2,1800.0,39.01,19.86,42.61,37.37,50.50,29.25,64.59,33.26,10.81
3,2400.0,39.10,19.95,43.86,38.65,49.93,29.51,61.50,34.09,11.10
4,3000.0,38.77,19.60,48.26,42.81,49.16,29.92,53.53,36.09,7.84
5,3600.0,38.52,19.37,50.37,44.68,48.03,30.17,48.18,37.89,7.88
6,4200.0,38.32,19.19,51.88,46.11,47.10,30.48,44.84,39.18,6.35
7,4800.6,37.97,18.82,52.47,46.59,46.33,30.64,42.78,39.90,7.60
8,5220.3,37.95,18.77,52.47,46.67,46.07,30.79,41.49,40.06,6.29

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,1800.2,41.74,12.44,30.26,30.51,71.38,21.17,71.90,27.61,17.82
1,2408.8,41.91,12.46,31.09,31.17,71.33,21.17,77.76,29.41,23.83
2,3000.2,41.87,12.32,31.30,31.37,71.18,21.48,81.21,29.97,22.71
3,3240.2,41.88,12.33,31.73,31.70,72.05,21.64,82.49,30.18,14.74

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,1207.0,36.26,3.09,27.18,27.19,61.30,24.26,50.50,24.98,11.72
1,1808.3,36.18,3.00,31.41,31.29,60.48,24.41,70.10,29.20,12.67
2,2398.8,35.81,2.49,32.47,32.54,59.65,24.62,74.26,30.28,11.70
3,2988.0,35.87,2.58,32.34,32.31,59.40,24.72,75.19,30.59,11.55
4,3600.0,36.03,2.77,33.15,32.99,57.34,25.44,73.85,31.26,10.75
5,4020.0,35.86,2.60,33.56,33.53,56.21,25.75,72.20,31.57,8.54

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.0,37.87,-24.42,33.55,31.95,59.96,25.80,69.84,30.28,9.03
1,1200.0,37.96,-24.41,34.27,32.47,59.96,26.11,74.06,31.41,12.48
2,1800.1,38.09,-24.31,34.65,32.93,60.27,26.68,75.60,31.93,11.99
3,2400.5,38.25,-24.20,35.57,33.93,52.66,27.29,72.67,32.65,11.36
4,3000.5,38.55,-23.95,37.01,35.09,49.57,28.07,67.73,33.47,10.25
5,3600.5,38.57,-23.99,38.67,36.42,46.59,28.79,61.35,34.81,9.77
6,4020.5,38.65,-23.95,39.62,37.03,45.15,29.15,57.85,35.48,7.56

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,600.0,38.58,-14.86,31.21,30.41,47.92,27.19,63.77,31.05,9.56
1,1200.0,38.59,-14.83,32.00,31.44,48.90,27.60,70.61,31.36,12.39
2,1800.0,38.52,-14.88,32.51,32.06,48.28,28.07,72.98,31.77,12.09
3,2400.0,38.58,-14.80,33.15,33.06,46.43,28.73,70.82,32.49,11.40
4,3000.0,38.48,-14.87,34.31,34.52,45.04,29.25,65.93,33.62,9.94
5,3600.0,38.49,-14.89,35.06,35.47,44.43,29.76,61.66,34.70,9.35
6,4020.5,38.42,-14.95,35.36,35.65,43.45,30.02,58.26,35.32,7.50

,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2,product_humidity
0,1800.0,39.55,17.52,32.23,32.24,69.48,24.88,70.10,30.28,12.38
1,2400.0,39.36,17.20,32.53,32.67,67.37,25.08,74.16,31.46,11.87
2,3000.0,39.44,17.26,33.20,33.39,66.75,25.49,76.32,32.18,10.78
3,3600.0,39.43,17.23,34.63,34.61,65.93,26.06,75.03,32.96,10.17
4,4020.3,39.15,17.10,35.24,35.19,64.03,26.32,72.26,33.52,7.91