In [1]:
import os
import csv
import json

In [2]:
directory = '../data/Dados-tratados'
file_paths = []

for filename in os.listdir(directory):
    file_path = os.path.join(directory, filename)
    exception_files = ['.DS_Store']

    if os.path.isfile(file_path) and filename not in '.DS_Store':
        file_paths.append(file_path)

print('File paths:')
for i, file in enumerate(file_paths):
    print(f'#{i+1}: {file.replace("../", "./../")}')

File paths:
#1: ./../data/Dados-tratados/Ensaio_04_data_0809.csv
#2: ./../data/Dados-tratados/Ensaio_12_data_1510.csv
#3: ./../data/Dados-tratados/Ensaio_08_data_1610.csv
#4: ./../data/Dados-tratados/Ensaio_06_data_2708.csv
#5: ./../data/Dados-tratados/Ensaio_02_data_1808.csv
#6: ./../data/Dados-tratados/Ensaio_11_data_1809.csv
#7: ./../data/Dados-tratados/Ensaio_09_data_1509.csv
#8: ./../data/Dados-tratados/Ensaio_03_data_0309.csv
#9: ./../data/Dados-tratados/Ensaio_10_data_1809.csv
#10: ./../data/Dados-tratados/Ensaio_07_data_0409.csv
#11: ./../data/Dados-tratados/Ensaio_05_data_2210.csv
#12: ./../data/Dados-tratados/Ensaio_01_data_1308.csv

In [3]:
import pandas as pd

In [8]:
columns_map = {
    'Time': 'time',
    'Tempo de processo': 'process_time',
    'tempo de processo (s)': 'process_time',
    'Tempo de processo (s)': 'process_time',
    # convert to seconds 'Tempo (min)': '',
    'PT100 1 Celsius': 'sensor_PT100_1',
    'PT100 2 Celsius': 'sensor_PT100_2',
    'PT100 3 Celsius': 'sensor_PT100_3',
    'PT100 4 Celsius': 'sensor_PT100_4',
    'Temp. TH 1 Celsius': 'sensor_TH_1',
    'Temp. TH 2 Celsius': 'sensor_TH_2',
    'Umidade 1 [%]': 'sensor_humidity_1',
    'Umidade 2 [%]': 'sensor_humidity_2',
    # remove 'Hora': '',
}

In [4]:
keys = []
examples = {}

for i in range(len(file_paths)):
    path = file_paths[i]
    df = pd.read_csv(path, delimiter=';', on_bad_lines='skip')
    columns = df.columns
    df.to_csv(f'{i}_df.csv', sep=';')

['Time', 'Tempo de processo', 'PT100 1 Celsius', 'PT100 2 Celsius', 'PT100 3 Celsius', 'PT100 4 Celsius', 'Umidade 1 [%]', 'Temp. TH 1 Celsius', 'Umidade 2 [%]', 'Temp. TH 2 Celsius', 'tempo de processo (s)', 'Hora', 'Tempo (min)', 'Tempo de processo (s)']

In [11]:
df = pd.read_csv(file_paths[4], delimiter=';')

columns = df.columns
for column in columns:
    if (column == 'Hora'):
        pass
    elif (column == 'Tempo (min)'):
        pass
    else:
        df[columns_map[column]] = df[column]
        df.drop(columns, axis=1)
# df.to_csv(f'{i}_df.csv', sep=';')
df.head()

,Time,Hora,Tempo (min),PT100 1 Celsius,PT100 2 Celsius,PT100 3 Celsius,PT100 4 Celsius,Umidade 1 [%],Temp. TH 1 Celsius,Umidade 2 [%],Temp. TH 2 Celsius,time,sensor_PT100_1,sensor_PT100_2,sensor_PT100_3,sensor_PT100_4,sensor_humidity_1,sensor_TH_1,sensor_humidity_2,sensor_TH_2
0,"18/08/2020 14:49:34,070",14:49:34,"0,00","34,938016","-97,168766","24,036175","21,530897","74,725337","21,58376","47,820904","20,505499","18/08/2020 14:49:34,070","34,938016","-97,168766","24,036175","21,530897","74,725337","21,58376","47,820904","20,505499"
1,"18/08/2020 14:49:34,070",14:49:34,"0,00","34,938016","-97,168766","24,036175","21,530897","74,725337","21,58376","47,820904","20,505499","18/08/2020 14:49:34,070","34,938016","-97,168766","24,036175","21,530897","74,725337","21,58376","47,820904","20,505499"
2,"18/08/2020 14:49:35,070",14:49:35,"0,02","34,937553","-97,171286","24,04155","21,537036","74,77678","21,635199","47,615135","20,505499","18/08/2020 14:49:35,070","34,937553","-97,171286","24,04155","21,537036","74,77678","21,635199","47,615135","20,505499"
3,"18/08/2020 14:49:35,070",14:49:35,"0,02","34,937553","-97,171286","24,04155","21,537036","74,77678","21,635199","47,615135","20,505499","18/08/2020 14:49:35,070","34,937553","-97,171286","24,04155","21,537036","74,77678","21,635199","47,615135","20,505499"
4,"18/08/2020 14:49:36,071",14:49:36,"0,03","34,936167","-97,174844","24,046157","21,540566","74,77678","21,635199","47,563693","20,505499","18/08/2020 14:49:36,071","34,936167","-97,174844","24,046157","21,540566","74,77678","21,635199","47,563693","20,505499"

In [12]:
columns = list(df.columns)
for column in columns:
    df[column]

In [ ]:
with open(file_paths[0], encoding='utf-8-sig') as csvfile, open(f'./edit_{filename}', 'w') as outfile:
    reader = csv.reader(csvfile, delimiter=';')
    writer = csv.writer(outfile, delimiter=';')

    headers = next(reader) # list of values like: ['Time', 'PT100 1 Celsius', 'PT100 2 Celsius', 'PT100 3 Celsius', 'PT100 4 Celsius', 'Umidade 1 [%]', 'Temp. TH 1 Celsius', 'Umidade 2 [%]', 'Temp. TH 2 Celsius']
    # headers.index('')
    writer.writerow(headers)

    print(headers)
    for row in reader: # row is list of values like: ['35:07,3', '35:07,3', '82,27', '40,91', '36,45', '34,61', '48,18', '26,21', '58,47', '32,18']
        # print(row) 
        writer.writerow(row)